body {
  max-width: 512px;
  margin: auto;
  padding: 10px;
}

shop {
  display: none;
  border: 1px solid black;
  margin: 10px 0px;
  padding: 10px;
}

shop.filtered {
  display: block;
}

shop > name {
  font-weight: bold;
}

shop tags {
  float: right;
  display: block;
}

shop tag  {
  margin-left: 4px;
}

shop tag name:not(.extended) {
  display: none;
}